* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {font-size: 16px;}

body {
	margin: 0 auto;
	list-style-type: none;
}

.flex {
	display: flex;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

.clear::before, .clear:after {
    content: " ";
    display: table;
}

.homepage {
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hidden-xs { display: none; }

/*
 1. Block-news general (first)
 2. News
 3. Social link
 4. Guide subscribers
 5. Button show more
 6. Footer articles
 		-	Most popular news
 		- Subscribe block

 //-- Responsive --
 1. Block news responsive
 */



// Block-news general
.article-module {
	position: relative;
  width: inherit;
  height: inherit;
  margin: 1rem 0 6rem;
  padding: 35%;
	&__bg-gradient {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: inherit;
		overflow: hidden;
	}
	h3 {
		font: 1.2rem/28px "PxGroteskRegular", Calibri, Arial, Roboto, sans-serif;
		text-transform: capitalize;
	}
}

.article-module:hover .block-news__title a { color: #ee3440; }
.article-module:hover .article-module__link { transform: scale(1.02); }
.article-module:hover .block-news__published a { color: #262626; }

.block-news {
	position: absolute;
	bottom: -5em;
	left: 0;
	right: 0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12);
	&__categories {
		display: none;
		font-size: 0.8rem;
		font-weight: bold;
		a {
	    width: auto;
	    color: #EE3440;
	    text-transform: uppercase;
		}
		span {
			color: #d6d6d6;
			font-weight: normal;
		}
  }
	&__title { 
		text-align: center;
		a {
			color: #262626;
			transition: 0.3s linear;
		}
	}
	&__body {
		display: none;
		color: RGB(147, 144, 159);
		font-size: 1.1rem;
		line-height: 1.8rem;
	}
	&__published {
		display: flex;
		justify-content: space-between;
		height: 1rem;
		font: 0.8rem/12px "License", Arial, Roboto, sans-serif;
		a {
			color: #ee3440;
			text-transform: uppercase;
		}
		p { color: #C5C5C5; }
	}
}

/* News */
.article-module__link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	transition: 0.3s linear;
}
.block-news { background: white; }

.first-block-news { min-height: 20rem; }

.first-block-news {
	.block-news__published {
		a, p {
			color: white !important;
		}
	}
	margin: 0;
	.block-news {
    padding: 0 1rem;
		bottom: 0;
		background: none;
		&__categories {
		 text-align: start;
		 a { margin: 0 40px 0 0; }
		}
		&__published {
			a, p { color: white !important; }
		}
		&__title a { color: white; }
	}
}

/* Social link */
.format-follow-box {
	width: 100%;
	margin: 1rem;
 }
.format-follow-actions {
	background: #6000ff;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
	color: white;
	h3 {
		margin: 1.9rem 0;
		font-size: 1.2rem;
	}
	.format-follow-buttons {
		display: flex;
		justify-content: space-around;
		height: 3rem;
    .format-follow-button {
			flex: 1;
	    border-right: 1px solid #FFF;
    }
    .format-follow-button:last-child { border: none; }
    .format-follow-button:hover path { fill: rgba(255, 253, 253, 0.6); }
		svg {
			width: 2rem;
			height: 2rem;
		}
		path {
			fill: white; }
	}
}

/* Guide subscribe */

.subscribers {
	margin: 20px 0;
	text-align: center;
	color: white;
	a { color: white; }
	.guide-subscribe {
	  background-color: rgb(242, 183, 182);
	  background-image: linear-gradient(rgb(242, 183, 182), rgb(244, 228, 224));
		&-text { margin-top: 25px; }
		.guides-icon-fill { transform: scale(0.7); }
		.guides-icon-text {
			position: relative;
			top: -0.9rem;
		}
	}
	.guide-title {
		font-size: 19px;
		font-family: "PxGroteskRegular", Calibri, Arial, Roboto, sans-serif;
	}
	.guide-subscribe-image {
		position: relative;
		z-index: 1;
		img {
			padding: 20px;
			width: 100%;
		}
	}
	.guide-subscribe-form {
		position: relative;
		margin: -100px 0 0 0;
		padding: 100px 15px 15px 15px;
		background-color: rgb(255, 255, 255);
	}
	.guide-subscribe-email {
		padding: 0 10px 0 45px;
		outline: 0;
		border: 1px solid rgb(171, 186, 197);
		color: RGB(214, 214, 214);
		background: url("../img/email.svg") no-repeat 20px center;
		-webkit-appearance: none;
		border-radius: 0;
	}
	.guide-subscribe-email,
	.guide-subscribe-button {
		display: inline-block;
		height: 58px;
		margin: 10px 0;
		font-size: 20px;
	}
}

/* Button show more */
.homepage .btn-show-more,
.guide-subscribe-button {
	padding: 20px 40px;
	background-color: RGB(238, 52, 64);
	border: 0;
	border-radius: 0;
	font: 20px/20px "PxGroteskRegular", Calibri, Arial, Roboto, sans-serif;
	margin: 0 0 30px 0;
	transition: background .3s linear;
	color: rgb(255, 255, 255);
	outline: 0;
	cursor: pointer;
	&:hover { background: #262626; }
}


//-- Footer articles
.homepage-featured-articles-footer {
	width: 100%;
	margin: 5px 0;
}
/* Most popular news */
.homepage-popular-articles {
	a {
		display: flex;
	}
	&-image {
		width: 100px;
		height: 90px;
		background: black !important;
	}
}

/* Subscribe block */
.format-newsletter-subscribe {
	background: RGB(255, 82, 69);
	padding: 20px 15px 15px;
	color: RGB(255, 255, 255);
	text-align: center;
}

.newsletter {
	.mobile-subscribe {
		display: flex;
		justify-content: space-between;
		border: 1px solid rgb(38, 38, 38);
		background: RGB(255, 255, 255);
		button {
			width: 50px;
			padding: 0 14px;
			background: transparent;
			border: none;
			cursor: pointer;
		}
	}
	&-icon {
		display: inline-block;
		width: 20px;
		margin-right: 15px;
	}
	.subscribe-field {
		width: calc(100% - 50px);
		padding: 11px 15px;
		border-right: 1px solid rgb(38, 38, 38);
		-moz-box-align: center;
		box-align: center;
		justify-content: flex-start;
		display: flex;
		.form-field {
			width: calc(100% - 35px);
			padding-top: 4px;
			color: rgb(38, 38, 38);
			font: 16px/16px "PxGroteskRegular", Calibri, Arial, Roboto, sans-serif;
			background: transparent;
			border: none;
			margin-top: -6px;
		}
	}
}



//-- Responsive --
@media screen and (min-width: 768px){
	.container-fluid { padding: 0 15px; }

	.article-module {
		width: 50%;
		padding: 18%;
		line-height: 2rem;
	}
	//-- Block news responsive
	.block-news__categories { display: block; }
	.block-news__published {
		justify-content: center;
		a { display: none; }
	}
	// First block news
	.first-block-news {
		width: 100%;
		height: 20rem;
    margin-bottom: 3rem;
		padding: 0;
		.block-news {
	    width: 70%;
	    height: 6rem;
	    margin-left: 1rem;
	    padding: 1rem;
	    background: #fff;
	    bottom: -2rem;
			&__title {
				text-align: unset;
				a {
					font-size: 1.8rem;
					color: #262626;
				}
			}
		}
	}

	.block-news {
		bottom: -6.1em;
    margin: 0 1.8rem;
    padding: 0.5rem 1.4rem;
    box-shadow: initial;
    background: #F8F9F9;
    &__categories {
    	margin: 0;
    	text-align: center;
    }
    &__body { display: block; }
	}

	.four-block-news {
		width: calc(65%);
		padding: 25%;
	}
	.five-block-news {
		width: 100%;
		margin-bottom: 8rem;
		padding: 32%;
		.block-news {
			bottom: -8rem;
			margin: 0 4rem;
			background: white;
			&__categories { text-align: start; }
			&__title {
				position: relative;
				top: -1.8rem;
				text-align: start;
				margin: 0 0 0 3.5rem;
			}
			&__details {
				display: flex;
				justify-content: space-around;
				flex-direction: row-reverse;
			}
			&__published {
				flex-direction: column;
				margin-top: 2rem;
		  }
		}
	}

	// Social block
	.visible-xs {	display: none; }
	.hidden-xs { display: block; }

}